<a href="https://colab.research.google.com/github/hyunBBB/OMG/blob/main/dataset_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
'ooyyy' .count('y')

3

In [2]:
a = ['BTS', 'IU', 'Blackpink', 'Twice']

for i in a:
  if i.startswith('B'):
    print(f'B로 시작하는 아이돌 {i}')

B로 시작하는 아이돌 BTS
B로 시작하는 아이돌 Blackpink

In [3]:
res = '_' .join(a)
res

'BTS_IU_Blackpink_Twice'

In [7]:
res.find('I'), res.rfind('B')
# result를 갖고 find를 찾아라 하면 i를 찾아라해서 4번째. rfind는 오른쪽에서부터 찾는 거임. 왼쪽에서부터 수를 세는것임.

(4, 7)

In [6]:
res.split('_')
# 언더바를 기준으로 나눠보자

['BTS', 'IU', 'Blackpink', 'Twice']

In [8]:
import seaborn as sns
import pandas as pd
titanic = sns.load_dataset('titanic')

titanic['age_class'] = pd.cut(titanic['age'], 3, labels=['child', 'young', 'old'])
titanic[['age', 'age_class']].head(10)

    age age_class
0  22.0     child
1  38.0     young
2  26.0     child
3  35.0     young
4  35.0     young
5   NaN       NaN
6  54.0       old
7   2.0     child
8  27.0     young
9  14.0     child

In [10]:
df = pd.DataFrame({'c1':['a', 'a', 'b', 'a', 'b'],
                   'c2':[1, 1, 1, 2, 2],
                   'c3':[1, 1, 2, 2, 2]})
print(df)
print('\n')

# 데이터프레임에서 중복 행을 제거
df2 = df.drop_duplicates()
print(df2)
print('\n')

# ,c2,c3열을 기준으로 중복 행을 제거
df3 = df.drop_duplicates(subset=['c2', 'c3'])
print(df3)

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2


  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2


  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2

In [1]:
import os
os.getcwd()

'/content'

In [2]:
os.listdir()

['.config', 'sample_data']

In [4]:
os.path.exists('./sample_data/mnist_test.csv')

True

In [5]:
os.path.basename('./drive/MyDrive'), os.path.dirname('./drive/MyDrive')

('MyDrive', './drive')

In [6]:
os.path.join(os.path.dirname('./drive/MyDrive'), os.path.basename('./drive/MyDrive'))

'./drive/MyDrive'

In [7]:
os.mkdir('./temp')

In [9]:
os.rename('./sample_data/anscombe.json', './sample_data/temp.json')

In [10]:
for curDir, dirs, files in os.walk(os.getcwd(), topdown=True):
  print(curDir, dirs, files)

/content ['.config', 'temp', 'sample_data'] []
/content/.config ['configurations', 'logs'] ['config_sentinel', '.last_survey_prompt.yaml', 'active_config', '.last_opt_in_prompt.yaml', 'gce', '.last_update_check.json']
/content/.config/configurations [] ['config_default']
/content/.config/logs ['2022.07.13'] []
/content/.config/logs/2022.07.13 [] ['13.42.53.841315.log', '13.42.25.014838.log', '13.42.32.441281.log', '13.42.05.105178.log', '13.41.43.930690.log', '13.42.53.106562.log']
/content/temp [] []
/content/sample_data [] ['README.md', 'temp.json', 'mnist_train_small.csv', 'california_housing_train.csv', 'california_housing_test.csv', 'mnist_test.csv']

In [ ]:
from google.colab import drive
drive.mount('/content/drive')