<a href="https://colab.research.google.com/github/hyunBBB/OMG/blob/main/lesson_11_function1_%EC%84%A0%EC%96%B8%2C_%ED%98%B8%EC%B6%9C%2C_return%2C_param%2C_args%2C_kwargs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Function
    - 특정 목적을 위해 작성한 코드(연산)의 집합
    - 독립적인 호출과 간결한 코드 작성을 위해 사용 : 코드 작성의 반복을 줄일 수 있음!
    - 복잡한 프로그래밍 작업을 더 간단한 작업들로 분해할 수 있다.
    - 한 번 작성하면 재사용이 편하다.
    - 가독성 및 코드 유지 관리가 쉬워진다.

In [4]:
score = 0
test = [100, 90, 50, 65, 70]

for s in test:
      score += s

score

375

In [5]:
test2 = [50, 22, 29, 100, 10, 100]
for s in test2:
    score += s

score

686

    같은 연산의 코드 작성을 반복해서 써야하므로 불편하고 힘들고 간단히 만들어보자!

### 함수의 선언과 호출

#### 선언
```python
def 함수명(param1, param2, ...):
    # 작성하고 싶은 코드 구문 괄호 안에
    #..
    #..
    return 결과값
```

para 갯수에 따라 사용해야할 그걸 적어줘야하는데요. 
for문을 써줘야함
return을 써서 결과값을 반환시켜야함. 형식은 이럼

In [6]:
def score(test):
  point = 0
  for s in test:
      point += s
  return point

In [7]:
# test
test1 = [100, 50, 75, 65, 30]
test2 = [50, 40, 25, 15, 11, 20]

print(score(test1))
# print(score(test2, 20)) # 에러 발생 20을 없애야함. 그러면 작동된다.

320

In [ ]:
def get_area(radius):
  return 3.14*radius*2

get_area(10)

62.800000000000004

ㄷ걍 필요한 연산을 return에 적으면 된다. 굳이 모든 연산을 다 적지 않아도 됨.

##### quiz
    1. 정수를 제곱하는 함수
    2. 평균을 구하는 함수

In [8]:
# 함수 작성
def square(n):
  return n**2

def average(n1,n2):
  return (n1+n2)/2

print(square(10), average(10,20))

100 15.0

In [ ]:
# blank

#### 호출

##### parameter, argument
```python
    def 함수명(파라미터):
        return
    
    함수명(아규먼트)
```
    - 파라미터는 함수를 선언할 때 호출할 변수
    - 아규먼트는 함수를 호출할 때 보내줄 변수
    - 함수를 선언할 때 파라미터의 타입과 개수를 맞추지 않으면 에러가 발생

In [9]:
def bowling(n1, n2, n3=50): # n3 이름의 파라미터는 티폴트 파라미터
    return n1+n2+n3

bowling(200, 150) # n3 파라미터에 값을 넣어주지 않아도 디폴트 값을 이용해서 실행

400

In [10]:
bowling(200, 150, 0), bowling(200, 150, n3=10) # 이런식으로 n3을 정해줘도 되는 것임.

(350, 360)

#### return
    - 선언한 함수의 결과값을 저장
    - 함수내에서 연산 진행중에 return에 도달하면 연산이 종료
    - return을 작성하지 않으면 결과값을 저장하지 않음

In [11]:
def print_test(text):
    return text.upper() #앞에 있는 변수가 문자라면 전부 대문자로 만들어준다.

text = "hello python"
print_test(text)

'HELLO PYTHON'

In [12]:
def print_test(text):
    print(text.upper())
#     return text.upper()
text = "hello phthon"
print_test(text)
# print_test(text).lower() # 저장된 결과 값이 없으므로 lowe()함수를 실행시킬 수 없음 리턴이 없으니까 에러 뜬 것임. 위에 주석 리턴을 입력을 해주고, lower하면 실행가능

HELLO PHTHON

출력은 되는데 return없어서 값은 안나옴. .lower은 upper와 반대.

In [16]:
# 함수 연산을 중단 시키는 예제
def alpha_check(text):
  for t in text:
    if t.isalpha(): # isalpha() : str타입의 변수가 알파벳으로 구성되어 있으면 True. 아니면 False를 반환하는 함수
        continue
    else:
        print(test.index(t)+1)
        return False
  print("Clear!")
  return True

# blank

text = 'abcdeFgHijk1op'
text2 = 'mn2asd'
text3 = 'easyupclass'
alpha_check(text), alpha_check(text2), alpha_check(text3)

ValueError: ignored

그니까 왜 위에 에러가 뜨는건데.... 내가 뭔 잘못을 했을까......하

#### arguments와 keyword arguments
    - 인수의 이름을 지정해서 parameter로 전달한다. 
    - 인수의 위치가 매개변수의 순서와 달라도 가능하다.
    - positional argument라고도 한다.
    - keyword args의 경우 아규먼트로 함수 호출 시 키워드를 작성하여 호출하며 반드시 다른 arguments 뒤에 존재해야 한다.

In [17]:
def operation(a=0, b=0, c=0): # a, b, c 는 keyword argument
  return a*b+c

operation(1, 2, 3)

5

In [18]:
operation(1, c=33)
# operation(1, a=2) # 파라미터가 겹칠 가능성도 존재할 때

33

####  가변 인수
  - 함수 선언시 파라미터의 수를 특정할 수 없을 경우 사용
  - asterisk(*) 를 사용한다.
  - *args는 가변길이 인수를 전달, 튜플 타입
  - **kwargs는 키워드 인수를 전달, 딕셔너리 타입
  - 가변 인수는 튜플이나 리스트 등으로 for 문으로 사용가능하다.

In [19]:
def hap(num, *args, **kwargs):
    print(type(num), num)
    print(type(args), args)ㄴ
    print(type(kwargs), kwargs)
    return num+sum(args) + sum(list(kwargs.values()))

hap(1)
# hap(1, 2, 3, num1=4, num2=5) num 자리에 1이 들어간 것임  control+/ 누르면 주석넣기 빼기 가능!!!!!ㄴㄴㄴ

<class 'int'> 1
<class 'tuple'> ()
<class 'dict'> {}

1

##### list타입 데이터를 args로 호출하는 방법

In [20]:
def multiply(n1, n2, n3):
    return n1 * n2 ** n3

ls = [2, 2, 4]

multiply(*ls) # list 타입 데이터를 함수에 선언한 파라미터에 각각 대입

32

In [22]:
ls2 = [2, 3, 4, 5]
gop(*ls2) # 함수 선언시 *args로 선언하지 않고 파라미터의 개수가 맞지 않아서 오류 발생
# 3개가 아니고 4개를 넣어줘서 즉 갯수가 안 맞아서 실패

NameError: ignored

In [23]:
def hap2(*args):
    return sum(args)

ls3 = [1, 2, 3]
hap2(ls3) # 호출하는 argument 타입이 직접 입력이 아닌 경우에도 에러가 발생

TypeError: ignored

In [24]:
hap2(1, 2, 3), hap2(*ls3)
#  *넣어주니까 된 것임.

(6, 6)