<a href="https://colab.research.google.com/github/hyunBBB/OMG/blob/main/lesson_10_Loop2_for_else_continue.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### for loop 2

##### zip을 이용한 받아주기

In [3]:
corp = ['google','facebook','apple','tesla']
prod = ['chrome','libra','iphone','e-car']
rank = [1, 3, 2, 4]

for c, p, r in zip(corp, prod, rank):
    print(c, p, r)

google chrome 1
facebook libra 3
apple iphone 2
tesla e-car 4

In [4]:
for i, j in enumerate(zip(corp,prod)): # zip으로 corp,prod를 묶어줬잫어 하나의 데이터가 되었다는 거임 한묶음!!!! i는 idx
    # print(i+1.j)
    print(i,j[0],j[1])

0 google chrome
1 facebook libra
2 apple iphone
3 tesla e-car

In [5]:
for idx, p in enumerate(corp):
    print(idx, p)

0 google
1 facebook
2 apple
3 tesla

#### for문 continue
    - continue를 사용 : for문의 조건문으로 돌아가서 루프를 실행(다음 순서로 진행)

In [6]:
ls = [1, 2, 3, 4, 5]
for i in ls:
      if i % 2: # 여기에서 나머지가 있으면 홀수가되죠. 그럼 홀수는 패스로 입력이 되는 것임. true면 홀수는 패스라고 되는 거 true=홀수 
            print("홀수는 패스")
            continue
      print(i)

홀수는 패스
2
홀수는 패스
4
홀수는 패스

#### 중첩 for문

In [ ]:
# 구구단 전체 출력해보기
for i in range(1,10): # 1, 2
      print()
      for j in range(2.10): # 2~9, 2~9
          print("{} x {} = {}".format(j, i, j*i), end="Wt")

TypeError: ignored

In [8]:
# 복습
for i in range(1, 10): # 뒤에 곱해지는 숫자. 안쪽에 잇는 루프가 먼저 돌게 됨. 아래에 ㅇㅆ는 2를 먼저 받고 3456789순으로 갈거다 이거여. 
    for j in range(2, 10): # 단에 해당하는 숫자 # 다쓰고 3*1, 4*1 이 순서로 먼저 돌게 되는 것임. 
        print(f"{j} x {i} = {j*i}", end="/t") # t는 탭간격으로 띄울거다 이거임. j 는 2를 먼저 받고 탭 띠고 다음 뤂프 가로로 쭈욱 작성 후 9까지 되면 그 아래로 2가 i로 받고 그런것임.
    print(end="/n")

    # 3중 루프 이상은 쓰지마라.

2 x 1 = 2/t3 x 1 = 3/t4 x 1 = 4/t5 x 1 = 5/t6 x 1 = 6/t7 x 1 = 7/t8 x 1 = 8/t9 x 1 = 9/t/n2 x 2 = 4/t3 x 2 = 6/t4 x 2 = 8/t5 x 2 = 10/t6 x 2 = 12/t7 x 2 = 14/t8 x 2 = 16/t9 x 2 = 18/t/n2 x 3 = 6/t3 x 3 = 9/t4 x 3 = 12/t5 x 3 = 15/t6 x 3 = 18/t7 x 3 = 21/t8 x 3 = 24/t9 x 3 = 27/t/n2 x 4 = 8/t3 x 4 = 12/t4 x 4 = 16/t5 x 4 = 20/t6 x 4 = 24/t7 x 4 = 28/t8 x 4 = 32/t9 x 4 = 36/t/n2 x 5 = 10/t3 x 5 = 15/t4 x 5 = 20/t5 x 5 = 25/t6 x 5 = 30/t7 x 5 = 35/t8 x 5 = 40/t9 x 5 = 45/t/n2 x 6 = 12/t3 x 6 = 18/t4 x 6 = 24/t5 x 6 = 30/t6 x 6 = 36/t7 x 6 = 42/t8 x 6 = 48/t9 x 6 = 54/t/n2 x 7 = 14/t3 x 7 = 21/t4 x 7 = 28/t5 x 7 = 35/t6 x 7 = 42/t7 x 7 = 49/t8 x 7 = 56/t9 x 7 = 63/t/n2 x 8 = 16/t3 x 8 = 24/t4 x 8 = 32/t5 x 8 = 40/t6 x 8 = 48/t7 x 8 = 56/t8 x 8 = 64/t9 x 8 = 72/t/n2 x 9 = 18/t3 x 9 = 27/t4 x 9 = 36/t5 x 9 = 45/t6 x 9 = 54/t7 x 9 = 63/t8 x 9 = 72/t9 x 9 = 81/t/n

In [ ]:
for i in range(10):
  for j in range(5):
    print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4
5 0
5 1
5 2
5 3
5 4
6 0
6 1
6 2
6 3
6 4
7 0
7 1
7 2
7 3
7 4
8 0
8 1
8 2
8 3
8 4
9 0
9 1
9 2
9 3
9 4

#### list comprehension
    - list 데이터를 만들 때 for문을 이용하여 생성
    - 속도가 빠르고 ram을 적게 사용 ( 연산속도가 빠르다고

    한줄로 하는 법. 관리하기편하고 관리도좋고 뭐라는거야 암튼 겉멋? 부럽다

In [9]:
ls = [11, 12, 13, 14]
# ls2 = ls ** 2 # 연산이 불가능

ls2 = []
for i in ls:
  ls2.append(i**2)
ls2

[121, 144, 169, 196]

In [ ]:
ls

[11, 12, 13, 14]

In [10]:
ls2 = [i**2 for i in ls]
ls2 # list comprehension? 을 쓴거임.

[121, 144, 169, 196]

In [ ]:
ls3 = [i**2 for i in ls]
ls3

[121, 144, 169, 196]

In [ ]:
[data if data %2 else "짝수" for data in range(10)]

['짝수', 1, '짝수', 3, '짝수', 5, '짝수', 7, '짝수', 9]

In [ ]:
# 10까지 자연수를 출력하면서 짝수는 '짝수'로 홀수는 그 숫자를 출력한다.
# comprehension 을 이용해보자.

# blank

['짝수', 1, '짝수', 3, '짝수', 5, '짝수', 7, '짝수', 9]

In [ ]:
# 10까지 자연수를 출력하면서 짝수는 '짝수'로 홀수는 그 숫자를 출력한다.
# comprehension 을 이용해보자.

[data if data % 2 else "짝수" for data in range(1, 11)]

### Quiz
    이중 for문을 이용하여 2차원 배열의 원소들 합을 1차원으로 나타내기
                                                                      행렬 표현 (2x3)
$$
    \begin{pmatrix}
    A00 & A01 & A02 \\
    A10 & A11 & A12 \\
    \end{pmatrix}
$$

$$
    \begin{pmatrix}
    2 & 4 \\
    6 & 8 \\
    \end{pmatrix}
    +
    \begin{pmatrix}
    1 & 3 \\
    5 & 7 \\
    \end{pmatrix}
    =
    \begin{pmatrix}
    3 & 7 \\
    11 & 15 \\
    \end{pmatrix}
$$

In [ ]:
m1 = [[2, 4], [6, 8]]
m2 = [[1, 3], [5, 7]]
res = []

for i in range( len(m1)):
    for j in range( len(m2)):
        res.append(m1[i][j] + m2[i][j])
res
result = []

# complete the blanks

result

[]

In [12]:
# 복습
m1 = [[2, 4], [6, 8]]
m2 = [[1, 3], [5, 7]]

res = []

for i in range(len(m1)):
    for j in range(len(m2)):
        res.append(m1[i][j] + m2[i][j])
res

[3, 7, 11, 15]

In [13]:
# comprehension 을 이용해보자.
res2=[m1[i][j]+m2[i][j] for i in range(len(m1)) for j in range(len(m2)) ]

print(res2)

[3, 7, 11, 15]