<a href="https://colab.research.google.com/github/hyunBBB/OMG/blob/main/lesson_03_tuple%26dic_type%2C_type_change.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Tuple Function
    list보다 같은 데이터를 가졌을 때 공간을 적게 사용

좋을 거 같지만 메모리 적어서 좋긴하지만 개발자가 잘 안 씀. 리스트는 pop append 가 가능한데 튜플은 좀... 안 씀

In [1]:
tp1 = 1, 2, 3
tp2 = {4, 5, 6}
type(tp1), type(tp2), tp1, tp2

(tuple, set, (1, 2, 3), {4, 5, 6})

In [2]:
a, b = 10, 20
a, b # a = 10, b= 20 이랑 같게 나옴

(10, 20)

#### list와 마찬가지로 offset index 사용 가능

In [9]:
tp1[0], tp2[::-1]

TypeError: ignored

#### list와 tuple의 저장공간 비교

In [8]:
import sys

ls = [1, 2, 3]
tp = (1, 2, 3)
print(sys.getsizeof(ls), sys.getsizeof(tp))

96 80

#### tuple 활용
    절대로 변경이 되어선 안되는 데이터를 작성하는 경우

In [12]:
# 카드 포인트 적립
rate = (0, 0.003)
print(type(rate), rate)
card = 100_000 # 100,000 _가 ,라고 생각해라.
# point = card * rate
# point = card * 1.0 # 임의로 바꿔버리면 문제 발생!
point = (card, rate)
print(type(point), point)

point_combi = point[0] * point[1][1] # *는 곱셈이다.
print(point_combi)

<class 'tuple'> (0, 0.003)
<class 'tuple'> (100000, (0, 0.003))
300.0

### Dictionary(dict)
    순서가 없고 {키:값}으로 구성되어 있는 데이터 타입

중괄호로 선언
가운데 세미콜론 : 형성해줘야함.

In [13]:
dic = {
    "key":"value",
    1 : "첫번째",
    "second" : 2,
    3 : [3, 4, 5]
}
type(dic), dic

(dict, {1: '첫번째', 3: [3, 4, 5], 'key': 'value', 'second': 2})

value에 data set 넣고, key에 training data넣으면 data가 다 들어감.

In [ ]:
# key와 value를 하나씩 직접 입력하여 작성하는 방법
dic2 = {}
dic2["DEEP:PHI"] = ""
dic2["deepnoid"] = ""
dic2

{'DEEP:PHI': '', 'deepnoid': ''}

이런식으로도 key value 작성 가능하다 이런거임.

#### dict 출력방법
    dict[key값]

In [14]:
dic[1], dic["second"]

('첫번째', 2)

1이라는 인덱싱을 한게 아니라, 1에 할당된 키가 나온 것임

In [16]:
dic[0] #순서가 없는 데이터 타입이므로 index를 사용할 수없음 0 가진 key 값이 없음. ls 땐 됫지만 dic은 놉안됨.

KeyError: ignored

#### dict형 데이터 타입 key, value값 확인
    keys() : key값을 확인
    values() : value값을 확인
        각각 리스트 타입으로 출력
    items() : key, value의 쌍으로 출력
        쌍을 이루고 수정이 불가능하므로 튜플 타입으로 출력
        
    ※ 주의 : 출력이 각각 list, tuple 타입으로 나타나지만 본래 데이터는 dict 타입이므로 순서가 없음
            즉, offset index를 사용할 수 없다!

In [17]:
dic.keys(), dic.values(), dic.items()

(dict_keys(['key', 1, 'second', 3]),
 dict_values(['value', '첫번째', 2, [3, 4, 5]]),
 dict_items([('key', 'value'), (1, '첫번째'), ('second', 2), (3, [3, 4, 5])]))

items 는 쌍으로 같이 보기

In [18]:
for key in dic.keys():
  print(key)

key
1
second
3

In [19]:
for items in dic.items():
  print(items)

('key', 'value')
(1, '첫번째')
('second', 2)
(3, [3, 4, 5])

### length 구하기
    문자열, list, tuple, dict 타입의 경우 데이터의 길이(혹은 갯수)를 셀 수 있음
```python
len(구하고자 하는 데이터타입)
```

In [21]:
#string type
text = "hello python"
len(text) #공백을 포함한 길이

12

In [20]:
#list type
ls = [1, 2, 3, 4, 5]
len(ls)

5

In [22]:
# tuple type
tp = (10, 20, 30, 40)
len(tp)

4

In [23]:
# dic type도 가능할까?
dic = {0:"kim", a:"python", 2:'data'}
len(dic)

3

In [24]:
# 숫자형은 안되요!
nb = 123
len(nb)

TypeError: ignored

### Type change
    - 데이터 타입을 변환하는 방법
    - 형태의 종류
        int, float, bool, str, list, tuple, dict

In [29]:
type(dic.values())

dict_values

In [30]:
type(list(dic.values()))

list

value를 list로 형변환 한것

In [31]:
dic_list = list(dic.values())
dic_list[0]

'kim'

In [34]:
a=1  # int
print(type(a),a)
b=float(a)
print(type(b), b)
c=str(b)
print(type(c), c)

<class 'int'> 1
<class 'float'> 1.0
<class 'str'> 1.0

str 은 스트링?

#### list -> dict로 만들기
    zip : 같은 index끼리 묶어주는 함수

In [ ]:
# blank

In [38]:
classes = ['Supervised learning', 'Unsupervised learning', 'Reinforcement learning']
subject = ['classification, 'clustering', 'game AI']
dic = dict(zip(classes, subject))

SyntaxError: ignored

In [39]:
dict(zip(classes, subject))
type(dic)

NameError: ignored

In [40]:
dic

{0: 'kim', 2: 'data', 10: 'python'}