<a href="https://colab.research.google.com/github/hyunBBB/OMG/blob/main/lesson_05_Pandas_1_Series%2C_generate%2C_index%2C_select.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas
    - 데이터 분석을 위한 python 라이브러리
    - R보다 Pandas의 학습, 성능, 활용분야 등이 좋음

    - Series와 DataFrame
        - Series : index와 value로 이루어짐
        - DataFrame : index, column, value로 이루어짐

### Series

In [12]:
import numpy as np
import pandas as pd

##### Series 선언

In [13]:
test = pd.Series(np.random.randint(10, size=5))
#  0-9까지인거임. 
test

0    0
1    9
2    2
3    0
4    8
dtype: int64

In [14]:
test2 = pd.Series({'Reinforcement learning': 'game AI',
 'Supervised learning': 'classification',
 'Unsupervised learning': 'clustering'})
test2

Reinforcement learning           game AI
Supervised learning       classification
Unsupervised learning         clustering
dtype: object

##### index(행) 이름 설정

In [15]:
test = pd.Series(np.random.randint(10, size=5), index=list( 'ABCDE'))
test

A    6
B    9
C    4
D    8
E    7
dtype: int64

In [16]:
test.index, test.values

# blank

(Index(['A', 'B', 'C', 'D', 'E'], dtype='object'), array([6, 9, 4, 8, 7]))

In [17]:
scalar_test = pd.Series(10, index=list('abced')) 
scalar_test
 
#   훅훅 넘어가심
# blank

a    10
b    10
c    10
e    10
d    10
dtype: int64

##### Series 데이터 선택

In [18]:
test[ 'A' ]

6

In [20]:
test.A

6

##### Series Indexing

In [19]:
test[2: ]

C    4
D    8
E    7
dtype: int64

In [21]:
test[::-1]

E    7
D    8
C    4
B    9
A    6
dtype: int64

### DataFrame
    - 여러개의 Series로 구성

##### 생성

###### dict안에 list로 value 생성

In [22]:
data = {
    "name":['Minhyeok', 'Seojun','Juyoung'],
    "class":['python', 'RNN','practice']    
       }
data

{'class': ['python', 'RNN', 'practice'],
 'name': ['Minhyeok', 'Seojun', 'Juyoung']}

In [23]:
df = pd.DataFrame(data)
df
#  key값이 column

       name     class
0  Minhyeok    python
1    Seojun       RNN
2   Juyoung  practice

##### index 추가

In [24]:
df.loc[2]

name      Juyoung
class    practice
Name: 2, dtype: object

In [ ]:
엥

Index(['a', 'b', 'c'], dtype='object')

In [ ]:
# blank 엥

array([['Minhyeok', 'python'],
       ['Seojun', 'RNN'],
       ['Juyoung', 'practice']], dtype=object)

##### index 변경

In [ ]:
# blank 엥

        name     class
1번  Minhyeok    python
2번    Seojun       RNN
3번   Juyoung  practice

#### DataFrame data선택
    - row, column 선택 방법

##### row 선택

In [ ]:
# blank 엥

       name     class
0  Minhyeok    python
1    Seojun       RNN
2   Juyoung  practice

In [ ]:
# blank 엥

name     Minhyeok
class      python
Name: 0, dtype: object

###### row 선택 후 특정 컬럼 선택

In [25]:
df.loc[0][ "class" ]
# 큰 따옴표 작은 따옴표 상관없음

'python'

###### loc로 dataframe에 데이터 추가

In [26]:
df.loc[3] = {"name":"Adrian", "class":"math"}
df
# 각 열에 해당하는 값들을 넣어줘야함
# 네임과 클래스가 있잖아. 키값을 갖고 벨유값을 넣어주는 딕셔너리를 확인할 숭 ㅣㅆ음
# 이런식으로 쓰고 확인해보면 맨아래에 새로운 행이 추가된 것을 볼 수 가 있음.

       name     class
0  Minhyeok    python
1    Seojun       RNN
2   Juyoung  practice
3    Adrian      math

##### column 선택

In [27]:
df['name']
# 칼럼에 있는 값 모두 출력

0    Minhyeok
1      Seojun
2     Juyoung
3      Adrian
Name: name, dtype: object

###### DataFrame에서 column 리스트 확인

In [28]:
df.columns
 # list 형변환은 보기 편하게 만들기 위해서 . 칼럼 값을 모를 때

Index(['name', 'class'], dtype='object')

###### column 추가

In [30]:
df['age'] = [30, 15, 25, 40]
df

       name     class  age
0  Minhyeok    python   30
1    Seojun       RNN   15
2   Juyoung  practice   25
3    Adrian      math   40

In [31]:
df.dtypes

name     object
class    object
age       int64
dtype: object

##### row, column 선택

In [32]:
df.loc[2, 'class']
#  원하는 값을 찾을 때 이렇게 쓰면 바로 나올 수 있음.

'practice'

In [33]:
df.iloc[1,1] 
#  iloc로 해야 좌표만 작성해도 괜찮음

'RNN'

##### dataframe 조건으로 선택

In [34]:
df[df['age']>25]
# 25살 이상인 사람의 나이가 모두 출력되는것

       name   class  age
0  Minhyeok  python   30
3    Adrian    math   40