<a href="https://colab.research.google.com/github/hyunBBB/OMG/blob/main/lesson_02_list_type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 데이터타입 개념
    1. 숫자
    2. 문자
    3. 리스트 []
        - 순서가 있고 수정이 가능한 데이터 타입
    4. 튜플(tuple) ()
        - 순서가 있고 수정이 불가능한 데이터 타입
    5. 사전(dict) {}
        - 순서가 없고 키:값 쌍으로 구성된 데이터 타입

#### 숫자와 문자형

In [2]:
a =726
b = "birthday"
print(type(a), a, "wn", type(b), b)

<class 'int'> 726 wn <class 'str'> birthday

#### list(주머니라고생각해)

In [3]:
ls = [True, 1, 2, "삼", [4, 'five'], 6,0]
type(ls), ls

(list, [True, 1, 2, '삼', [4, 'five'], 6, 0])

소괄호 대괄호 노상관임. 수학적으로 생각하면 안 됨.

##### offset index : 순서가 있는 데이터 타입에서는 해당 index(위치)를 사용할 수 있다
    - index의 순서는 0부터 시작

In [4]:
ls[3], ls[1:4], ls[::-1]

('삼', [1, 2, '삼'], [0, 6, [4, 'five'], '삼', 2, 1, True])

콜론 두개 하고 -1하면 거꾸로 출력됨.

파이썬은 항상 마지막 숫자에서 -1 해줘야함 그래서 두번째 ls에는 1부터 3까지인 것임.

##### 맨 뒤에 추가
    - append()

In [5]:
ls = [2, 3, 7, 4, 9, 0] #list 생성
ls.append(0) # 가장 뒤에 추가
ls

[2, 3, 7, 4, 9, 0, 0]

##### 정렬
    sort()
    - 오름차순/내림차순

In [6]:
ls.sort(reverse=True)
print(ls)
ls.sort(reverse=False)
print(ls)

[9, 7, 4, 3, 2, 0, 0]
[0, 0, 2, 3, 4, 7, 9]

#### 삭제(뽑기)
    pop()
        기본값 : 리스트 마지막 항목을 뽑아낸다
    list.pop(index)
        index를 입력하면 해당 index 순서에 있는 항목을 뽑아낸다
        pop으로 뽑힌 데이터는 다른 변수에 저장이 가능
        뽑힌 데이터는 list에서 삭제되어 있음

In [7]:
print(ls)
print(ls.pop(), ls)

[0, 0, 2, 3, 4, 7, 9]
9 [0, 0, 2, 3, 4, 7]

In [8]:
ls.pop(1), ls

(0, [0, 2, 3, 4, 7])

In [9]:
b = ls.pop(0)
b, ls

(0, [2, 3, 4, 7])

#### 뽑아내지 않고 삭제하는 방법
    del list[index]

In [10]:
del ls[1]
ls

[2, 4, 7]

#### 리스트 타입의 복사
    copy()

- 얕은 복사(shallow copy) <br/>
  메모리 주소만 복사한 것으로 새로운 값을 적용하면 원래 메모리 참조 값을 가져온다.

- 깊은 복사(deep copy) <br/>
  copy.deepcopy 메소드로 사용 가능하다.
  새로운 메모리 값을 사용하므로 다른 주소 값이 할당된다.

-얕은 복사와 깊은 복사의 구분은 list, set, dictionary와 같은 가변 객체에 해당하여 적용한다.

In [11]:
ls1 = [1, 2, 3]
ls2 = ls1 #ls2는 ls1의 주소값을 복사
ls1[2] = 5 #ls1의 값을 변형하면..?
ls1, ls2 #얕은 복사

([1, 2, 5], [1, 2, 5])

In [12]:
import copy # copy 라이브러리 호출
ls3 = copy.deepcopy(ls1)
ls1[2] = 6
ls1, ls3

([1, 2, 6], [1, 2, 5])